<div class="jumbotron jumbotron-drivers">
  <div class="mask"></div>
  <div class="container content">
    <h1><%= __('drivers') %></h1>
    <p><%= __('drivers_infotext') %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="panel panel-danger">
      <div class="panel-body">
        <%- partial ('../partials/pagination.ejs') %>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th></th>
            <th><%= __('username') %></th>
            <th><%= __('laps') %></th>
            <th><%= __('sessions') %></th>
            <th><%= __('incidents') %></th>
            <th><%= __('last_connection') %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% for(i in drivers) { %>
          <tr>
            <td><img src="<%- drivers[i].avatar %>" width="50" height="50" class="img-circle"></td>
            <td><%- drivers[i].name %></td>
            <td><%- drivers[i].laps.length %></td>
            <td><%- drivers[i].sessionsplayed.length %></td>
            <td><%- drivers[i].incidents.length %></td>
            <td class="global--time"><%- drivers[i].updatedAt %></td>
            <td>
              <a class="btn btn-danger" href="/driver/<%- drivers[i].id %>"><%= __('show') %></a>
            </td>
          </tr>
          <% } %>
          </tbody>
        </table>
        <%- partial ('../partials/pagination.ejs') %>
      </div>
    </div>
  </div>
</div>
