<style>
  .jumbotron-stats {
    height:350px;
    background-image: url(<%- driver.avatar %>);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
  }
  .jumbotron-stats h1 {
    line-height: 200px;
  }
</style>

<div class="jumbotron jumbotron-stats">
  <div class="mask"></div>
  <div class="container content">
    <h1><%- driver.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">

            <div class="col-md-4">
              <% if (driver.avatar) { %>
              <img src="<%- driver.avatar %>" alt="driver avatar" width="215" height="215" class="thumbnail" style="display: block; margin: 0 auto; margin-bottom: 25px;"/>
              <% } else { %>
              <div class="not-uploaded">
                <%= __('no_thumbnail_uploaded') %>
              </div>
              <% } %>

            </div>
            <div class="col-md-8">
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge"><%- driver.sessions.length %></span>
                    <%= __('sessions_participated') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.lapsDone.length %></span>
                    <%= __('laps_done') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.incidents.length %></span>
                    <%= __('incidents_caused') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.collided.length %></span>
                    <%= __('incidents_victim') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge global--time"><%- driver.updatedAt %></span>
                    <%= __('last_seen') %>n:
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge"><%- driver.pole_count %></span>
                    <%= __('pole') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.first_count %></span>
                    <%= __('first_place') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.second_count %></span>
                    <%= __('second_place') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.third_count %></span>
                    <%= __('third_place') %>:
                  </li>
                  <li class="list-group-item">
                    <span class="badge"><%- driver.top_10 %></span>
                    <%= __('top_10') %>:
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-12" >
    <div id="PlayerStat"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><%= __('50_last_sessions') %></div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><%= __('name') %></th>
                <th><%= __('date') %></th>
                <th><%= __('track') %></th>
                <th><%= __('group') %></th>
                <th><%= __('driver') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (var i in driver.sessions) { %>
              <tr>
                <td><%- driver.sessions[i].name %></td>
                <td class="global--time"> <%- driver.sessions[i].createdAt %></td>
                <td><%- driver.sessions[i].Track.name %></td>
                <td><%- driver.sessions[i].group.name %></td>
                <td><%- driver.sessions[i].Drivers.length %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><%= __('50_last_laps') %></div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><%= __('date') %></th>
                <th><%= __('session') %></th>
                <th><%= __('car') %></th>
                <th><%= __('time') %></th>
                <th><%= __('count') %></th>
                <th><%= __('session') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (var i in driver.lapsDone) { %>
              <tr>
                <td class="global--time"><%- driver.lapsDone[i].createdAt %></td>
                <td><%- driver.lapsDone[i].session.name %></td>
                <td><%- driver.lapsDone[i].Car.name %></td>
                <td class="admin_Driver--LapTime"><%- driver.lapsDone[i].LapTime %></td>
                <td><% if (driver.lapsDone[i].CountThisLapTimes == 1) { %> <span class="text-success"><%= __('true') %></span> <% } else { %> <span class="text-danger"><%= __('false') %></span> <% } %></td>
                <td><%- driver.lapsDone[i].SessionStage %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
