<div class="container" style="margin-top: 65px">
    <div id="results_wrapper" style="display:none">
        <div class="row">
            <div class="col-md-12" id="results" style="margin:25px 0 25px 0 ;">
                <div class="panel panel-danger" id="results_panel">
                    <div class="panel-heading" id="results_panel-heading">
                        <h4>Results</h4>
                    </div>
                    <div class="panel-body" id="results_results_panel-body">
                        <h4><i class="fa fa-warning"></i> Results's loading file can be long depending on the size.</h4>
                        <table class="table table-hover table-res" id="results_table">
                            <thead>
                            <tr>
                                <td>Date</td>
                                <td>Name</td>
                                <td>Event</td>
                                <td>Group</td>
                                <td>Track</td>
                                <td>Drivers</td>
                                <td>Incidents</td>
                                <td>Show</td>
                            </tr>
                            </thead>
                            <tbody id="res_target">
                            <% for (var i in sessions) { %>
                            <tr  id="res_row">
                                <td class="res-date"><% var date = new Date(sessions[i].createdAt) %> <%- date.getFullYear() +'-'+ date.getMonth() +'-'+ date.getDate() + ' ' + date.getHours() + ':' +date.getMinutes()%></td>
                                <td class="res-name"><%- sessions[i].name %></td>
                                <td class="res-event"><% if(sessions[i].Events){ var event = "Yes" }else{ var event ='No';} %> <%- event %></td>
                                <td class="res-group"><%- sessions[i].group.name %></td>
                                <td class="res-track"><%- sessions[i].Track.name %></td>
                                <td class="res-drivers"><%- sessions[i].Drivers.length %></td>
                                <td class="res-incidents"><%- sessions[i].incidents.length %></td>
                                <td><a href="/result/<%- sessions[i].id %>" class="btn btn-danger getResult">Show</a></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>