<div class="site">
  <div class="container">
    <%- partial ('../partials/flash.ejs') %>
    <h1>My profile</h1>
    <section id="profile">
      <div class="col-md-12">
        <h3>User profile</h3>
        <div class="row">
          <div class="col-sm-4">
            <img src="<%= user.steamAvatarFull %>" alt="profile-avatar" class="img-circle"/>
          </div>
          <div class="col-sm-8">
            <ul class="list-group">
              <li class="list-group-item">
                <b>Username:</b> <span class="text-right"><%= user.username %></span>
              </li>
              <li class="list-group-item">
                <b>Email:</b> <span class="text-right"><%= user.email %></span>
              </li>
            </ul>
          </div>
          <div class="col-sm-8" data-template="serverKeys" data-template-data="<%= JSON.stringify(user.serverKeys) %>"></div>
        </div>
        <hr>
        <% if(user.drivers) { %>
        <div class="row">
          <% if(_.isArray(user.drivers)){ %>
          <h3>Driver profile</h3>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="race_count" class="col-sm-2 control-label">Race:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="race_count" value="<%= user.drivers[0].race_count %>" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="pole_count" class="col-sm-2 control-label">Pole:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="pole_count" value="<%= user.drivers[0].pole_count %>" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="bestlaps_count" class="col-sm-2 control-label">bestlaps:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="bestlaps_count" value="<%= user.drivers[0].bestlaps_count %>" disabled>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
    </section>
  </div>
</div>
