<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Sessions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hovered table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Track</th>
                <th>Group</th>
                <th>Drivers</th>
                <th>Laps</th>
                <th>CreatedAt</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (var i in sessions) {%>
              <tr>
                <td><%- sessions[i].id %></td>
                <td><%- sessions[i].name %></td>
                <td><%- sessions[i].Track.name %></td>
                <td><%- sessions[i].group.name %></td>
                <td><%- sessions[i].Drivers.length %></td>
                <td><%- sessions[i].Laps.length %></td>
                <td class="global--time"><%- sessions[i].createdAt %></td>
                <td><a class="btn btn-info btn-block" href="/admin/sessions/<%- sessions[i].id %>">Delete</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
