<div class="jumbotron jumbotron-bestlaps">
  <div class="mask"></div>
  <div class="container content">
    <h1><%= __('bestlaps') %></h1>
    <p><%= __('bestlaps_infotext') %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="track_target">
      <div class="panel panel-primary" id="track_infos">
        <div class="panel-body">
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td><%= __('location') %></td>
                  <td>{{ location }}</td>
                </tr>
                <tr>
                  <td><%= __('distance') %></td>
                  <td>{{ distance }} m</td>
                </tr>
                <tr>
                  <td><%= __('laps') %></td>
                  <td>{{ laps }}</td>
                </tr>
                <tr>
                  <td><%= __('sessions') %></td>
                  <td>{{ sessions }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default" id="bestlaps_form_wrapper">
        <div class="panel-body">
          <form action="/bst" class="form-inline">
            <div class="col-md-12">
              <div class="col-md-4">
                <select name="tracks" id="Tracks-form" class="form-control">
                  <option><%= __('select_track') %></option>
                  <% for (var i=0; i < tracks.length; i++) { %>
                  <option value="<%= tracks[i].id %>"><%= tracks[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-md-4">
                <select name="Group" id="Group-form" class="form-control">
                  <option><%= __('select_group') %></option>
                  <% for (var i=0; i < groups.length; i++) { %>
                  <option value="<%= groups[i].id %>"><%= groups[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-md-4">
                <select name="Vehicle" id="Cars-form" class="form-control">
                  <option><%= __('select_car') %></option>
                  <% for (var i=0; i < cars.length; i++) { %>
                  <option value="<%= cars[i].id %>"><%= cars[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <select name="Drivers" id="Drivers-form" class="form-control">
                  <option><%= __('select_driver') %></option>
                  <% for (var i=0; i < drivers.length; i++) { %>
                  <option value="<%= drivers[i].id %>"><%= drivers[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-md-4">
                <select name="Event" id="Event-form" class="form-control">
                  <option value="all"><%= __('select_event') %></option>
                  <% for (var i=0; i < events.length; i++) { %>
                  <option value="<%= events[i].id %>"><%= events[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-md-4">
                <select name="SessionStage" id="SessionStage-form" class="form-control">
                  <option><%= __('select_state') %></option>
                  <option value="1"><%= __('drivers') %> 1</option>
                  <option value="2"><%= __('practice') %> 2</option>
                  <option value="3"><%= __('qualifying') %></option>
                  <option value="4"><%= __('warmup') %></option>
                  <option value="5"><%= __('race') %> 1</option>
                  <option value="6"><%= __('race') %> 2</option>
                </select>
              </div>
            </div>
            <div class="col-md-12" style="margin-top:15px;">
              <input type="submit" value="<%= __('search') %>" class="btn btn-danger pull-right" id="getBst"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12" id="bestlaps_results">
      <div class="panel panel-danger" id="bestlaps_results_panel">
        <div class="panel-heading" id="bestlaps_results_panel-heading">
          <h4><%= __('results') %></h4>
        </div>
        <div class="panel-body" id="bestlaps_results_panel-body">
          <table class="table table-hover table-bst" id="bestlaps_results_table">
            <thead>
              <tr>
                <td><%= __('name') %></td>
                <td><%= __('event') %></td>
                <td><%= __('group') %></td>
                <td><%= __('car') %></td>
                <td><%= __('track') %></td>
                <td><%= __('session') %></td>
                <td><%= __('sector') %> 1</td>
                <td><%= __('sector') %> 2</td>
                <td><%= __('sector') %> 3</td>
                <td><%= __('lap_time') %></td>
                <td><%= __('distance') %></td>
              </tr>
            </thead>
            <tbody id="bst_target">
              <tr  id="bst_row">
                <td class="bst-name">{{ owner.name }}</td>
                <td class="bst-name">{{ Events.name }}</td>
                <td class="bst-car">{{ group.name }}</td>
                <td class="bst-car">{{ Car.name }}</td>
                <td class="bst-track">{{ Track.name }}</td>
                <td class="bst-car">{{ SessionStage }}</td>
                <td class="bst-s1">{{ Sector1Time }}</td>
                <td class="bst-s2">{{ Sector2Time }}</td>
                <td class="bst-s3">{{ Sector3Time }}</td>
                <td class="bst-bes">{{ LapTime }}</td>
                <td class="bst-bes">{{ DistanceTravelled }}m</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
