<div id="live_page_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="infos">
          <div id="server_infos">
            <div id="server_infos_wrapper">
              <div class="server_infos_data">
                <h4 id="server_infos_data--status"><%= __('status') %>: {{ SessionState }} </h4>
                <div class="col-md-8">
                  <div class="col-md-6">
                    <div class="panel panel-default panel-status">
                      <div class="panel-body panel-status--body">
                        <table class="table panel-status--table">
                          <thead>
                            <tr>
                              <th><%= __('name') %></th>
                              <th><%= __('joinable_status') %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id="server_infos_data--Name">{{name}}</td>
                              <td id="server_infos_data--Privacy">{{ Privacy }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default panel-combo">
                      <div class="panel-body panel-combo--body">
                        <table class="table panel-combo--table">
                          <thead>
                            <tr>
                              <th><%= __('track') %></th>
                              <th><%= __('group') %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id="server_infos_data--Track">{{ Track.name }}</td>
                              <td id="server_infos_data--CarGroup">{{ CarGroup.name }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="panel panel-default panel-conditions">
                      <div class="panel-body panel-conditions--body">
                        <table class="table panel-conditions--table">
                          <thead>
                            <tr>
                              <th><%= __('stage') %></th>
                              <th><%= __('connected') %></th>
                              <th><%= __('game_date') %></th>
                              <th><%= __('date_progression') %></th>
                              <th><%= __('forecast_progression') %></th>
                              <th><%= __('flag_rules') %></th>
                              <th><%= __('penalties_ruels') %></th>
                              <th><%= __('damage_rules') %></th>
                              <th><%= __('drivers_dnf') %></th>
                              <th><%= __('drivers_dsq') %></th>
                              <th><%= __('drivers_finished') %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id="server_infos_data--SessionStage">{{ SessionStage }}</td>
                              <td id="server_infos_data--Connected">{{ NumParticipantsValid }} / {{ MaxPlayers }}</td>
                              <td id="server_infos_data--Date">{{ DateYear }}/{{ DateMonth }}/{{ DateDay }} {{ DateHour }}:{{ DateMinute }}</td>
                              <td id="server_infos_data--DayProgression">{{ DateProgression }}x</td>
                              <td id="server_infos_data--ForecastProgression">{{ ForecastProgression }}x</td>
                              <td id="server_infos_data--Flags">{{ Flags }}</td>
                              <td id="server_infos_data--Penalties">{{ PenaltiesType }}</td>
                              <td id="server_infos_data--Damage">{{ DamageType }}</td>
                              <td id="server_infos_data--DNF">{{ NumParticipantsDNF }} / {{ NumParticipantsValid }}</td>
                              <td id="server_infos_data--DSQ">{{ NumParticipantsDisqualified }} / {{ NumParticipantsValid }}</td>
                              <td id="server_infos_data--Finished">{{ NumParticipantsFinished }} / {{ NumParticipantsValid }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default panel-weather">
                    <div class="panel-body panel-weather--body">
                      <table class="table panel-weather--table">
                        <thead class="panel-weather--thead">
                          <tr>
                            <th><%= __('slot') %> 1</th>
                            <th><%= __('slot') %> 2</th>
                            <th><%= __('slot') %> 3</th>
                            <th><%= __('slot') %> 4</th>
                          </tr>
                        </thead>
                        <tbody class="panel-weather--tbody">
                          <tr>
                            <td id="server_infos_data--WSlot1">{{{ WeatherSlot1 }}}</td>
                            <td id="server_infos_data--WSlot2">{{{ WeatherSlot2 }}}</td>
                            <td id="server_infos_data--WSlot3">{{{ WeatherSlot3 }}}</td>
                            <td id="server_infos_data--WSLot4">{{{ WeatherSlot4 }}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="panel panel-default panel-length">
                    <div class="panel-body panel-length--body">
                      <table class="table panel-length--table">
                        <thead>
                          <tr>
                            <th><%= __('practice') %> 1</th>
                            <th><%= __('practice') %> 2</th>
                            <th><%= __('qualifying') %></th>
                            <th><%= __('warmup') %></th>
                            <th><%= __('race') %> 1</th>
                            <th><%= __('race') %> 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="server_infos_data--P1Length">{{ Practice1Length }} min</td>
                            <td id="server_infos_data--P2Length">{{ Practice2Length }} min</td>
                            <td id="server_infos_data--QLength">{{ QualifyLength }} min</td>
                            <td id="server_infos_data--WLength">{{ WarmupLength }} min</td>
                            <td id="server_infos_data--Race1Length">{{ Race1Length }} laps</td>
                            <td id="server_infos_data--Race2Length">{{ Race2Length }} laps</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="server_log_wrapper">
    <div class="container" >
      <div class="row"  id="server_log">
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h4><i class="fa fa-history"></i> <%= __('live_events') %></h4>
            </div>
            <div id="live_log_wrapper" class="panel-body">
              <div id="live_log" class="col-md-12">
                <!--{{#Log}}-->
                <div class="col-md-12 live_log_event">
                  <div class="col-md-1 live_log_icon">{{{ icon }}}</div>
                  <div class="col-md-11 live_log_msg">{{ message }}</div>
                </div>
                <!--{{/Log}}-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h4><i class="fa fa-users"></i> <%= __('connected') %></h4>
            </div>
            <div id="live_connected_wrapper"  class="panel-body">
              <div id="live_connected" class="col-md-12">
                <!--{{#Connected}}-->
                <div class="col-md-12 live_connected_row">
                  <div class="col-md-8 live_connected_name">{{{ name }}}</div>
                  <div class="col-md-4 live_connected_status">{{ attributes.LoadState }}</div>
                </div>
                <!--{{/Connected}}-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="server_standings">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-list"></i> <%= __('server_standings') %></h4>
          </div>
          <div class="panel-body">
            <div id="live_table">
              <div id="table-live">
                <table class="table table-hover" >
                  <thead>
                    <tr>
                      <td><%= __('position_short') %></td>
                      <td><%= __('name') %></td>
                      <td><%= __('car') %></td>
                      <td><%= __('category') %></td>
                      <td><%= __('state') %></td>
                      <td><%= __('current_lap') %></td>
                      <td><%= __('sector') %> 1</td>
                      <td><%= __('sector') %> 2</td>
                      <td><%= __('sector') %> 3</td>
                      <td><%= __('last_lap') %></td>
                      <td><%= __('best_lap') %></td>
                    </tr>
                  </thead>
                  <tbody>
                    <!--{{#Players}}-->
                    <tr class="live_table_players" id="participant-{{id}}">
                      <td class="live_table_players--Pos">{{ attributes.RacePosition }}</td>
                      <td class="live_table_players--Name">{{ attributes.Name}}</td>
                      <td class="live_table_players--Vehicle">{{ car.name }}</td>
                      <td class="live_table_players--Category">{{ car.Group.name }}</td>
                      <td class="live_table_players--state">{{  attributes.State }}</td>
                      <td class="live_table_players--Current-Lap">{{  attributes.CurrentLap }}</td>
                      <td class="live_table_players--Sector-1">{{ attributes.Sector1Time }}</td>
                      <td class="live_table_players--Sector-2">{{ attributes.Sector2Time }}</td>
                      <td class="live_table_players--Sector-0">{{ attributes.Sector3Time }}</td>
                      <td class="live_table_players--Last-lap">{{  attributes.LastLapTime }}</td>
                      <td class="live_table_players--Fastest-lap">{{  attributes.FastestLapTime }}</td>
                    </tr>
                    <!--{{/Players}}-->
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  io.socket.on('connect', function(e){
    io.socket.get('/getLiveData', null, function(data,jwres){
    });
  });
</script>
