<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">

            <div class="col-md-4">
              <% if (driver.avatar) { %>
              <img src="<%- driver.avatar %>" alt="driver avatar" class="img-responsive"/>
              <% } else { %>
              <div class="not-uploaded">
                <%= __('no_thumbnail_uploaded') %>
              </div>
              <% } %>

            </div>
            <div class="col-md-8">
              <form action="/admin/driver/edit/<%- driver.id %>" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="name"><%= __('name') %>:</label>
                  <input type="text" name="name" class="form-control" value="<%- driver.name %>"/>
                </div>
                <div class="form-group">
                  <label for="avatar"><%= __('thumbnail') %>:</label>
                  <input type="file" id="fileInput" name="avatar"/>
                </div>
                <div class="form-group">
                  <input type="submit"  id="driver_btn_update" class="btn btn-danger btn-block" value="<%= __('update') %>"/>
                </div>
              </form>
            </div>

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><%= __('sessions_played') %></div>
              <div class="panel-body">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th><%= __('name') %></th>
                      <th><%= __('date') %></th>
                      <th><%= __('track') %></th>
                      <th><%= __('group') %></th>
                      <th><%= __('driver') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (driver.sessions.length > 0 ) { %>
                    <% for (var i in driver.sessions) { %>
                    <tr>
                      <td><%- driver.sessions[i].name %></td>
                      <td><% var created = new Date(driver.sessions[i].createdAt); %> <%- created.getFullYear()%>/<%- created.getMonth()%>/<%- created.getDay()%> <%- created.getHours()%>:<%- created.getMinutes()%></td>
                      <td><%- driver.sessions[i].Track.name %></td>
                      <td><%- driver.sessions[i].group.name %></td>
                      <td><%- driver.sessions[i].Drivers.length %></td>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><%= __('laps') %></div>
              <div class="panel-body">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th><%= __('date') %></th>
                      <th><%= __('session') %></th>
                      <th><%= __('car') %></th>
                      <th><%= __('time') %></th>
                      <th><%= __('count') %></th>
                      <th><%= __('session') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i in driver.lapsDone) { %>
                    <tr>
                      <td><% var created = new Date(driver.lapsDone[i].createdAt); %> <%- created.getFullYear()%>/<%- created.getMonth()%>/<%- created.getDay()%> <%- created.getHours()%>:<%- created.getMinutes()%></td>
                      <td><%- driver.lapsDone[i].session.name %></td>
                      <td><%- driver.lapsDone[i].Car.name %></td>
                      <td class="admin_Driver--LapTime"><%- driver.lapsDone[i].LapTime %></td>
                      <td><%- driver.lapsDone[i].CountThisLapTimes %></td>
                      <td><%- driver.lapsDone[i].SessionStage %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
