<div id="admin-menu_container">
  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/admin"><i class="fa fa-home"></i> Dashboard</a>
    </li>
    <li role="presentation">
      <a href="/admin/drivers"><i class="fa fa-users"></i> <%= __('drivers') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/laps"><i class="fa fa-history"></i> <%= __('laps') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/sessions"><i class="fa fa-flag-checkered"></i> <%= __('sessions') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/tracks"><i class="fa fa-edit fa-globe"></i> <%= __('tracks') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/events"><i class="fa fa-edit fa-globe"></i> <%= __('events') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/cars"><i class="fa fa-edit fa-car"></i> <%= __('cars') %></a>
    </li>
    <li role="presentation">
      <a href="/admin/server"><i class="fa fa-cogs"></i> Server</a>
    </li>
    <li>Listener: <b><span id="ServerStatus" class="text-danger">Not Running</span></b>
    </ul>

  </div>
