<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Create a new event</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <form action="/admin/events/add" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="name">Server name:</label>
                            <input type="text" name="servername" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="dateIngame">Date Ingame</label>
                            <input type="date" name="dateIngame" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="timeIngame">Time Ingame</label>
                            <input type="time" name="timeIngame" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="RaceLength">Race Length:</label>
                            <input type="number" name="RaceLength" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="Flags">Flags:</label>
                            <select name="Flags" class="form-control" multiple="true">
                                <option value="1">AI Allowed</option>
                                <option value="2">Force identical vehicles</option>
                                <option value="4">Force identical setup</option>
                                <option value="8">Allow custom setup</option>
                                <option value="16">Force realistic driving aids</option>
                                <option value="32">ABS Allowed</option>
                                <option value="64">SC Allowed</option>
                                <option value="128">TC Allowed</option>
                                <option value="256">Force manual</option>
                                <option value="512">Rolling starts</option>
                                <option value="512">Rolling starts</option>
                                <option value="1024">Force same vehicle group</option>
                                <option value="2048">Force same track</option>
                                <option value="4096">Force track style</option>
                                <option value="8192">Force handling style</option>
                                <option value="16384">Force lobby name</option>
                                <option value="32768">Force game mode</option>
                                <option value="65536">Force game length desc.</option>
                                <option value="131072">Fill session with AI</option>
                                <option value="262144">Mechanical failures</option>
                                <option value="524288">Auto start engine</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DamageType">Damage:</label>
                            <select name="DamageType" class="form-control">
                                <option value="0">Off</option>
                                <option value="1">Visual Only</option>
                                <option value="2">Performance Impacting</option>
                                <option value="3">Full</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TireWearType">Tire Wear:</label>
                            <select name="TireWearType" class="form-control">
                                <option value="6">Standard</option>
                                <option value="7">Slow</option>
                                <option value="8">Off</option>
                                <option value="5">x2</option>
                                <option value="4">x3</option>
                                <option value="3">x4</option>
                                <option value="2">x5</option>
                                <option value="1">X6</option>
                                <option value="0">x7</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="FuelUsageType">Fuel Usage:</label>
                            <select name="FuelUsageType" class="form-control">
                                <option value="0">Standard</option>
                                <option value="1">Slow</option>
                                <option value="2">Off</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="PenaltiesType">Penalties:</label>
                            <select name="PenaltiesType" class="form-control">
                                <option value="0">None</option>
                                <option value="1">Full</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="AllowedViews">Allowed Views:</label>
                            <select name="AllowedViews" class="form-control">
                                <option value="0">Any</option>
                                <option value="1">All</option>
                                <option value="2">Cockpit + Helmet</option>
                                <option value="3">Cockpit</option>
                                <option value="4">Helmet</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="DateProgression">Date Progression:</label>
                            <input type="number" name="DateProgression" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="ForecastProgression">Forecast Progression:</label>
                            <input type="number" name="ForecastProgression" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="WeatherSlot1">Weather Slot1:</label>
                            <select name="WeatherSlot1" class="form-control">
                                <option value="0"> Select a weather</option>
                                <option value="-934211870">Sunny</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="WeatherSlot2">Weather Slot2:</label>
                            <select name="WeatherSlot2" class="form-control">
                                <option value="0"> Select a weather</option>
                                <option value="-934211870">Sunny</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="WeatherSlot3">Weather Slot3:</label>
                            <select name="WeatherSlot3" class="form-control">
                                <option value="0"> Select a weather</option>
                                <option value="-934211870">Sunny</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="WeatherSlot4">Weather Slot4:</label>
                            <select name="WeatherSlot4" class="form-control">
                                <option value="0"> Select a weather</option>
                                <option value="-934211870">Sunny</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="start">start:</label>
                            <input type="date" name="start" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="end">end:</label>
                            <input type="date" name="end" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="track">track:</label>
                            <select name="track" id="track-form" class="form-control">
                                <option value="0"> Select a track</option>
                                <% for (var i=0; i<tracks.length; i++) { %>
                                <option value="<%= tracks[i].id %>"><%= tracks[i].name %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="group">group:</label>
                            <select name="group" id="group-form" class="form-control">
                                <option value="0"> Select a group</option>
                                <% for (var i=0; i<groups.length; i++) { %>
                                <option value="<%= groups[i].id %>"><%= groups[i].name %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="car">Car:</label>
                            <select name="car" id="car-form" class="form-control">
                                <option value="0"> Select a car</option>
                                <% for (var i=0; i<cars.length; i++) { %>
                                <option value="<%= cars[i].id %>"><%= cars[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" id="fileInput" name="thumbnail"/>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </form>
            </div>
        </div>
    </div>
</div>